apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - selfsigned-issuer.yaml
  - ca-certificate.yaml
  - issuer.yaml

# Patches to update the deployments to use the namespaced CA issuer
patches:
  - target:
      kind: Deployment
      name: search-apiserver
    patch: |-
      - op: replace
        path: /spec/template/spec/volumes/0/csi/volumeAttributes/csi.cert-manager.io~1issuer-name
        value: search-ca-issuer
      - op: replace
        path: /spec/template/spec/volumes/0/csi/volumeAttributes/csi.cert-manager.io~1issuer-kind
        value: Issuer
  - target:
      kind: Deployment
      name: search-controller-manager
    patch: |-
      - op: replace
        path: /spec/template/spec/volumes/0/csi/volumeAttributes/csi.cert-manager.io~1issuer-name
        value: search-ca-issuer
      - op: replace
        path: /spec/template/spec/volumes/0/csi/volumeAttributes/csi.cert-manager.io~1issuer-kind
        value: Issuer
