---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-policy-search-miloapis-com-v1alpha1-resourceindexpolicy
  failurePolicy: Fail
  name: vresourceindexpolicy.kb.io
  rules:
  - apiGroups:
    - policy.search.miloapis.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - resourceindexpolicies
  sideEffects: None
