apiVersion: policy.search.miloapis.com/v1alpha1
kind: ResourceIndexPolicy
metadata:
  name: contact-index-policy-2
spec:
  targetResource:
    group: "j"
    version: v1
    kind: Contact
  
  # Only index contacts that are active
  conditions:
    - name: is-active
      expression: "object.status.active == true"
    - name: is-active
      expression: "object.status.active == true"

  # Define which fields to index
  fields:
    - path: ".spec.lastName"
      searchable: true
      filterable: false
    - path: ".spec.lastName"
      searchable: false
      filterable: false
    - path: ".spec.email"
      searchable: false
      filterable: false
    - path: ".metadata.labels['department']"
      filterable: false
      facetable: false

