---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: milo-controller-manager
rules:
- apiGroups:
  - policy.search.miloapis.com
  resources:
  - resourceindexpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - policy.search.miloapis.com
  resources:
  - resourceindexpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - policy.search.miloapis.com
  resources:
  - resourceindexpolicies/status
  verbs:
  - get
  - patch
  - update
